html {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
  
  html::-webkit-scrollbar { 
    display: none;
  }
  
  body {
    margin: auto;
    background-color: gainsboro;
  }
  
  main {
    padding-top: 100px;
  }
  
  .header-bar {
    position: fixed;
    display: flex;
    background-color: white;
    height: 100px;
    width: 100%;
    align-items: center;
  }
  
  .header-bar img {
    margin-left: 5%;
    height: 100px;
  }
  
  .topnav {
    display: flex;
    margin-right: 5%;
    margin-left: auto;
    justify-content: space-between;
    font-size: 1.2rem;
  }
  
  .topnav a {
    text-decoration: none;
    color: grey;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
  
  .topnav a:hover {
    color: rgb(48,48,48);
  }
  
  .photo-banner {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    max-height: 800px;
    min-height: 200px;
  }
  
  .photo-banner img {
    width: 100%;
    object-fit: cover;
  }
  
  .intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 15%;
    text-align: center;
    color: rgb(48,48,48);
  }
  
  .home-links {
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .home-links-img {
    display: flex;
    flex-direction: column;
    min-height: 0;
    text-align: center;
    margin-bottom: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  .home-links-img img {
    max-height: 150px;
  }
  
  .home-links-img a {
    color: grey;
    text-decoration: none !important;
  }
  
  .home-links-img h4 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-color: rgb(48,48,48);
    border-style: solid;
    border-width: 1px;
  }
  
  .home-links-img a:hover {
    color: rgb(48,48,48);
  }
  
  .contact-bar {
    color: white;
    display: flex;
    height: 300px;
    justify-content: space-between;
    background-color: rgb(48,48,48);
  }
  
  .contact-bar-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12.5%;
  }
  
  .contact-bar-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 12.5%;
  }
  
  .contact-bar-right a {
    color: white;
    text-decoration: none !important;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  .bottom-bar {
    margin-right: 100px;
    margin-left: 100px;
  }
  
  